[submodule "mstax-api-files"]
	path = mstax-api-files
	url = https://github.com/Deloitte/mstax-api-files.git
[submodule "mstax-ui-files"]
	path = mstax-ui-files
	url = https://github.com/Deloitte/mstax-ui-files.git
[submodule "mstax-machine-learning-poc"]
	path = mstax-machine-learning-poc
	url = https://github.com/Deloitte/mstax-machine-learning-poc.git
